<%= render 'form' %>

<% if @hangouts != nil %>
	<div class="container">

	<h1>Hangouts</h1>
	<% @hangouts.each do |hangout| %>
		<% hangout.build_response %>
		<%= hangout.name %>
		<%= hangout.description %>
		<%= hangout.hours%>:<% if hangout.minutes < 10 %><%= "0" + hangout.minutes.to_s %>
		<% else %>
			<%= hangout.minutes %>
		<% end %>
	<%= hangout.meridiem %>
		<% Response.create(:hangout_id => hangout.id) %>
		<%= form_for [haResponse.new, url: hangout_response_path(hangout.id)] do |f| %>
			<% binding.pry%>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %><br>
    </div>

    <div class="actions">
      <%= f.submit "Respond" %>
    </div>
  <% end %>
		<br><br>
	<% end %>
<% end %>
	</div>