// Place all the styles related to the hangouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border {
  min-height: 5px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 1px rgba(0,0,0,.2);
  margin: 100px;
  position: relative;
  height: 250px;
  width: 250px;

}

.hangouts {
  margin-top: 18px;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.delete {
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 11px;
  padding: 4px 5px; 
}

.button{
  margin-top: 2px;
  background: none;
}

.name, .hangouts {
  font-weight: 600;
}

.jumbotron {
height: 400px;
  background-image: url("friends-chilling.jpg");
  background-position: -500px;
}

.jumbotron p {
  color: #ffffff;
}

.jumbotron h1 {
  color: #ffffff !important;
}


.field {
   width: 200px;
}

.going {
    overflow-x: scroll;
     -webkit-overflow-scrolling: touch;
}

.hangout_head {
    text-align: center;
    font-size: 50px;
}

